@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
}

a {
  color:  #A9A9A9;
  text-decoration: none;
  transition: all.6s ease;
  -ms-transition: all.6s ease;
  -o-transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
}
a:hover {
  color:  #2F4F4F;
  text-decoration: none;
  transition: all.6s ease;
  -ms-transition: all.6s ease;
  -o-transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

header {
  float: left;
  background-color: rgba(54, 62, 52, 0.38);
  width: 100vw; 
  padding: 0.2ch; 
  
}

header>div#logo>a>span {
  font-size: 0.8em;
  font-family: "Oswald", sans-serif;
}
header>div#logo>a>img {
  width: 60px;
  height: 40px;
}
header > div#home > a > .btn > img,
header > div#gyms > a > .btn > img,
header > div#nutrition > a > .btn > img {
    width: 76px;
    height: 56.8px;
}

header > div#home > a > .btn > img:hover {
  background-color:rgba(54, 62, 52, 0.38); /* Цвет фона при наведении */
  transition: background-color 0.5s ease-in-out;
}
header > div#gyms > a > .btn > img:hover {
  background-color:rgba(54, 62, 52, 0.38); /* Цвет фона при наведении */
  transition: background-color 0.5s ease-in-out;
}
header > div#nutrition > a > .btn > img:hover {
  background-color:rgba(54, 62, 52, 0.38); /* Цвет фона при наведении */
  transition: background-color 0.5s ease-in-out;
}
header > div#home > a > .btn > img {
  position: absolute;
  top: 2px;
  left: 110px;
  border-radius: 15%;
  transform: translateX(-50%);
}
header>div#gyms>a>.btn>img {
  position: absolute;
  top: 2px;
  left: 191px;
  border-radius: 15%;
  transform: translateX(-50%);
}
header>div#nutrition>a>.btn>img {
  position: absolute;
  top: 2px;
  left: 272px;
  border-radius: 15%;
  transform: translateX(-50%);
}
div#temp>img { 
  
  width: 500px;
  height: 400px;
  max-width: 500%;
  max-height: 500%;
  
}
#blockShoulder {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 151.5px;
  left: 80.8px;
}

#where_home {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  
  opacity: 50%;  
  top: 104px;
  left: 530px;
}
#where_home2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  
  opacity: 50%;  
  top: 164px;
  left: 530px;
}
#where_home3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  
  opacity: 50%;  
  top: 224px;
  left: 530px;
}
#blockShoulder2 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 151.5px;
  left: 327.8px;
}
#blockСhest{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 164px;
  left: 102px;
}
#blockBiceps{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 184.5px;
  left: 66.6px;
}

#blockCalves{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 376px;
  left: 87.3px;
}
#blockCalves2{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 376px;
  left: 335.7px;
}
#blockForearms{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 219px;
  left: 44.4px;
}
#blockForearms2{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 219px;
  left: 287.9px;
}
#blockGlutes{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 254px;
  left: 352.4px;
}
#blockHamstrings{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;  
  background: red;
  opacity: 50%;  
  top: 294px;
  left: 341px;
}
#blockLats{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;  
  background: red;
  opacity: 50%;  
  top: 181.7px;
  left: 341px;
}
#blockLowerback{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;  
  background: red;
  opacity: 50%;  
  top: 216px;
  left: 367.2px;
}
#blockObliques{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 196px;
  left: 92.8px;
}
#blockQuads{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 297px;
  left: 90.1px;
}
#blockTraps{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 138px;
  left: 102px;
}
#blockTraps2{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  opacity: 50%;  
  top: 140px;
  left: 367.5px;
}
#blockTriceps{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;  
  background: red;
  opacity: 50%;  
  top: 181.7px;
  left: 312px;

}
#TrapsMiddleTraps{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;  
  background: red;
  opacity: 50%;  
  top: 176px;
  left: 367.2px;
}

#abdominals{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;  
  background: red;
  opacity: 50%;  
  top: 234px;
  left: 114px;
}
#frame{  
  position: absolute;
  top: 70px;
  width: 600px;
  height: 400px;
  background: rgba(76, 89, 73, 0.13);
  border-radius: 10%; 
}
#frame::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100px; /* Отступ справа */
  width: 5px; /* Ширина полоски */
  height: 100%;
  background: #000000b2; /* Цвет полоски */
}

div#Where1>img { 
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 520px;
}
div#Where2>img { 
  position: absolute;
  width: 50px;
  height: 50px;
  top: 160px;
  left: 520px;
}
div#Where3>img { 
  position: absolute;
  width: 50px;
  height: 50px;
  top: 220px;
  left: 520px;
}
